.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white,.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port){
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone){
        transform: skewX(0);
        transform: translate(-3rem) skewX(0);

    }

    &__shape{
        width: 15rem;
        height: 15rem;  //Should have height and width
        float: left;    //Should be floated to use shape-outside command
        // background-color: orangered;
        //50% means , the radius is half of the width of the container ie story__shape.
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);   //circle(radius at center horizontally and center vertically
        clip-path:  circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);  //to clip the shape
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        
        @include respond(phone){
            transform: skewX(0deg);
        }
    }
    &__img{
        height: 100%;
        transform: translateX(-2rem) scale(1.3);
        transition: all .5s;
    }
    &__text{
        transform: skewX(12deg);
        @include respond(phone){
            transform: skewX(0);
            
        }
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;    //To fix the glitch
    }
    &:hover &__caption{ //On hovering the section, change story__caption
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img{ //On hovering the section, change story__img
        transform: translateX(-2rem) scale(1);
        filter: blur(3px) brightness(80%);
        overflow: hidden;
    }
}